body {
  background-color: black;
  color: white;
  font-family: Arial;
  margin: 0;
}

.logo {
  color: red;
  margin-left: 20px;
}

.navbar {
  background: black;
  padding: 10px;
}

.banner {
  padding: 40px;
  background: linear-gradient(to top, black, transparent);
}

.row {
  margin-left: 20px;
}

.row-posters {
  display: flex;
  overflow-x: scroll;
}

.row-posters img {
  width: 150px;
  margin-right: 10px;
  transition: 0.3s;
}

.row-posters img:hover {
  transform: scale(1.1);
}
