body {
  margin: 0;
  font-family: Arial;
  color: white;

  background: linear-gradient(to top, rgba(0,0,0,0.95), rgba(0,0,0,0.7)),
              url("https://images.unsplash.com/photo-1509248961158-e54f6934749c");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
}

.logo {
  color: red;
  font-size: 28px;
  font-weight: bold;
}

